.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  font-weight: 400;
  margin: 0;
  max-width: 360px;
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    padding: 0 14px;
    box-sizing: border-box;
  }
}