.cover {
  width: calc(100% - 7.5%);
  margin: 0 auto;
  color: #fff;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    width: 100%;
    margin-bottom: 64px;
  }
}